flows.json
[{"id":"2bd42787.c57178","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"65246c4e.5847c4","type":"http in","z":"2bd42787.c57178","name":"","url":"/covid19visuals","method":"get","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["81f0b7fb.463f68"]]},{"id":"a16b343d.18c388","type":"http response","z":"2bd42787.c57178","name":"","statusCode":"","headers":{},"x":470,"y":160,"wires":[]},{"id":"81f0b7fb.463f68","type":"template","z":"2bd42787.c57178","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello Guys!</h1>\n        <div class='tableauPlaceholder' id='viz1594852571128' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;SentimentAnalysis_15943893129800&#47;Another&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='SentimentAnalysis_15943893129800&#47;Another' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;SentimentAnalysis_15943893129800&#47;Another&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1594852571128');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='560px';vizElement.style.maxHeight='860px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='560px';vizElement.style.maxHeight='860px';vizElement.style.height=(divElement.offsetWidth*1.77)+'px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>\n        <div class='tableauPlaceholder' id='viz1594828787005' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;SentimentAnalysis_15943893129800&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='SentimentAnalysis_15943893129800&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;SentimentAnalysis_15943893129800&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1594828787005');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>\n        <div class='tableauPlaceholder' id='viz1594828841294' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;SentimentAnalysis_15943893129800&#47;Negatives&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='SentimentAnalysis_15943893129800&#47;Negatives' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;SentimentAnalysis_15943893129800&#47;Negatives&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1594828841294');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='560px';vizElement.style.maxHeight='860px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='560px';vizElement.style.maxHeight='860px';vizElement.style.height=(divElement.offsetWidth*1.77)+'px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>\n        <div class='tableauPlaceholder' id='viz1594828879372' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;SentimentAnalysis_15943893129800&#47;Neutral&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='SentimentAnalysis_15943893129800&#47;Neutral' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;SentimentAnalysis_15943893129800&#47;Neutral&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1594828879372');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='560px';vizElement.style.maxHeight='860px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='560px';vizElement.style.maxHeight='860px';vizElement.style.height=(divElement.offsetWidth*1.77)+'px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>\n        <div class='tableauPlaceholder' id='viz1594828912096' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;SentimentAnalysis_15943893129800&#47;Positive&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='SentimentAnalysis_15943893129800&#47;Positive' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;SentimentAnalysis_15943893129800&#47;Positive&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1594828912096');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='560px';vizElement.style.maxHeight='860px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='560px';vizElement.style.maxHeight='860px';vizElement.style.height=(divElement.offsetWidth*1.77)+'px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>\n        <div class='tableauPlaceholder' id='viz1594829620343' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;SentimentAnalysis_15943893129800&#47;Dashboard9&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='SentimentAnalysis_15943893129800&#47;Dashboard9' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;SentimentAnalysis_15943893129800&#47;Dashboard9&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1594829620343');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height='260px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='560px';vizElement.style.maxHeight='860px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='560px';vizElement.style.maxHeight='860px';vizElement.style.height=(divElement.offsetWidth*1.77)+'px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>\n    </body>\n</html>","output":"str","x":320,"y":161,"wires":[["a16b343d.18c388"]]},{"id":"3b545e18.9b9a92","type":"ui_form","z":"2bd42787.c57178","name":"","label":"","group":"779ea265.11239c","order":1,"width":0,"height":0,"options":[{"label":"Enter your name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter your email id","value":"email","type":"email","required":true,"rows":null},{"label":"Enter your mobile number","value":"phn","type":"number","required":true,"rows":null},{"label":"Enter password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","phn":"","pwd":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":110,"y":300,"wires":[["ddefdb32.5874d8","bfa52b49.b58098"]]},{"id":"ddefdb32.5874d8","type":"function","z":"2bd42787.c57178","name":"","func":"msg.payload = \"Your Account is ready, \"+ msg.payload.name+\"! Welcome to Covid19 Visuals!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":300,"wires":[["268af8a2.c32008"]]},{"id":"268af8a2.c32008","type":"ui_text","z":"2bd42787.c57178","group":"779ea265.11239c","order":3,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":300,"wires":[]},{"id":"df831e1a.5de6","type":"ui_template","z":"2bd42787.c57178","group":"50e1a02e.610ba","name":"","order":0,"width":"9","height":"6","format":"<img src=\"https://static.businessworld.in/article/article_extra_large_image/1587115175_BhUIsy_infl_1_.jpg\" alt=\"Trulli\" width=\"500\" height=\"333\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":300,"wires":[[]]},{"id":"28bf5e3b.449712","type":"comment","z":"2bd42787.c57178","name":"Sign up Page","info":"","x":120,"y":240,"wires":[]},{"id":"6c8067e0.acf868","type":"comment","z":"2bd42787.c57178","name":"Log in page","info":"","x":130,"y":440,"wires":[]},{"id":"e2031952.e0c7c8","type":"ui_form","z":"2bd42787.c57178","name":"","label":"","group":"50612626.df4ec8","order":1,"width":0,"height":0,"options":[{"label":"Enter registered email id","value":"email","type":"text","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":130,"y":500,"wires":[["f2fc3869.8b4668"]]},{"id":"2e6bdb33.4c4714","type":"cloudant out","z":"2bd42787.c57178","name":"","cloudant":"","database":"user_info","service":"node-red-tytop-cloudant-1594718597445-80837","payonly":true,"operation":"insert","x":420,"y":360,"wires":[]},{"id":"bfa52b49.b58098","type":"function","z":"2bd42787.c57178","name":"","func":"msg.payload = {\n    \"_id\":msg.payload.email,\n    \"name\":msg.payload.name,\n    \"phn\":msg.payload.phn,\n    \"pwd\":msg.payload.pwd,\n    \"email\":msg.payload.email\n}\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":360,"wires":[["2e6bdb33.4c4714"]]},{"id":"c16439e6.d9b4b8","type":"cloudant in","z":"2bd42787.c57178","name":"","cloudant":"","database":"user_info","service":"node-red-tytop-cloudant-1594718597445-80837","search":"_id_","design":"","index":"","x":620,"y":500,"wires":[["fccabccd.4de7b"]]},{"id":"f2fc3869.8b4668","type":"function","z":"2bd42787.c57178","name":"globalising","func":"global.set('email',msg.payload.email)\nglobal.set('password',msg.payload.password)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":500,"wires":[["f8edce9.03ab43"]]},{"id":"f8edce9.03ab43","type":"function","z":"2bd42787.c57178","name":"Setting id","func":"var email = global.get('email')\nmsg.payload = {\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":500,"wires":[["c16439e6.d9b4b8"]]},{"id":"fccabccd.4de7b","type":"function","z":"2bd42787.c57178","name":"","func":"var pwd = global.get('password')\nif(pwd==msg.payload.pwd)\n    msg.payload = \"Log-in Successful!\"\nelse\n    msg.payload = \"Log-in Unsuccessful. Try again with correct credentials.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":580,"wires":[["7ea7753a.06d0cc","18b17e2d.79ec02"]]},{"id":"7ea7753a.06d0cc","type":"ui_text","z":"2bd42787.c57178","group":"50612626.df4ec8","order":3,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":580,"wires":[]},{"id":"8be5e81f.41d998","type":"ui_template","z":"2bd42787.c57178","group":"a46e91e.942307","name":"","order":1,"width":0,"height":0,"format":"<img src=\"https://s3-eu-central-1.amazonaws.com/centaur-wp/marketingweek/prod/content/uploads/2020/03/17145138/shutterstock_1658813662-750x500.jpg\" alt=\"Trulli\" width=\"500\" height=\"333\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":560,"wires":[[]]},{"id":"ce2a81f3.3c2cb","type":"comment","z":"2bd42787.c57178","name":"Live twitter feed ","info":"","x":150,"y":760,"wires":[]},{"id":"7b3c94f1.6d777c","type":"twitter in","z":"2bd42787.c57178","twitter":"","tags":"#coronavirus,#covid19","user":"false","name":"","inputs":0,"x":100,"y":840,"wires":[["3d2c6534.f5d80a"]]},{"id":"3d2c6534.f5d80a","type":"delay","z":"2bd42787.c57178","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":840,"wires":[["ccb2f6fb.3d5d48"]]},{"id":"cc54c41.dacdb38","type":"delay","z":"2bd42787.c57178","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":840,"wires":[["d1649c89.f4e13","7a8c4999.e95f28","3bf51a70.bd48b6","bc8fcb2b.3c5728","cfc49927.b20738"]]},{"id":"d1649c89.f4e13","type":"ui_text","z":"2bd42787.c57178","group":"b87cc51d.6f4cd8","order":3,"width":0,"height":0,"name":"","label":"Live Tweets","format":"{{msg.payload}}","layout":"col-center","x":500,"y":920,"wires":[]},{"id":"5ab65287.23fd8c","type":"ui_template","z":"2bd42787.c57178","group":"b87cc51d.6f4cd8","name":"Cover page Image","order":1,"width":12,"height":7,"format":"<img src=\"https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRSgj7Y0NqN1e2ggOx6WF9XU8cJXt7frtq_Iw&usqp=CAU\" alt=\"Trulli\" width=\"500\" height=\"333\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":290,"y":900,"wires":[[]]},{"id":"ad4904c3.5148a8","type":"ui_template","z":"2bd42787.c57178","group":"43aa6f9d.91ec4","name":"Website Description","order":2,"width":10,"height":10,"format":"<html>\n<body style=\"background-color:powderblue;\">\n\n<h1>Covid19 Visuals</h1><br><br><br><br>\n<p>\nHi, Welcome to Covid19 Visuals! This site aims to provide a variety of visual aids to help you understand the change in sentiments from tweets during this unfortunate time of Covid19 pandemic. Though the visuals are built on tweets collected from all over the world,however, there is a greater emphasis on India. Hope the information represented in these visuals helps you with your needs.  </p>\n<p>In the visuals, Positive sentiments are represented by 1, negative sentiments by -1 and neutral sentiments by 0.\nHope you have a great journey with Covid19 Visuals. Stay safe, stay happy.</p>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":510,"y":800,"wires":[[]]},{"id":"18fc6ae2.11c975","type":"ui_template","z":"2bd42787.c57178","group":"43aa6f9d.91ec4","name":"Twitter Icon","order":4,"width":2,"height":2,"format":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\n.fa {\n  padding: 20px;\n  font-size: 30px;\n  width: 50px;\n  text-align: center;\n  text-decoration: none;\n  margin: 5px 2px;\n}\n\n.fa:hover {\n    opacity: 0.7;\n}\n\n.fa-twitter {\n  background: #55ACEE;\n  color: white;\n}\n\n\n</style>\n</head>\n<body>\n\n<!-- Add font awesome icons -->\n<a href=\"https://twitter.com/home?lang=en\" class=\"fa fa-twitter\"></a>\n\n      \n</body>\n</html> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":110,"y":900,"wires":[[]]},{"id":"3bf51a70.bd48b6","type":"counter","z":"2bd42787.c57178","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":330,"y":960,"wires":[["dbceb39d.7f857"]]},{"id":"dbceb39d.7f857","type":"ui_text","z":"2bd42787.c57178","group":"b87cc51d.6f4cd8","order":5,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.count}}","layout":"row-spread","x":480,"y":960,"wires":[]},{"id":"7a8c4999.e95f28","type":"sentiment","z":"2bd42787.c57178","name":"","property":"payload","x":300,"y":1140,"wires":[["bc044e35.073c3"]]},{"id":"4260b867.d84328","type":"function","z":"2bd42787.c57178","name":"","func":"msg.payload = msg.payload.tone_name\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1020,"wires":[["1bfdf3ea.0ae94c"]]},{"id":"bc8fcb2b.3c5728","type":"watson-tone-analyzer-v3","z":"2bd42787.c57178","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":230,"y":1020,"wires":[["e98075bd.cd55b8"]]},{"id":"1bfdf3ea.0ae94c","type":"ui_text","z":"2bd42787.c57178","group":"b87cc51d.6f4cd8","order":7,"width":0,"height":0,"name":"","label":"Emotion","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":1100,"wires":[]},{"id":"e98075bd.cd55b8","type":"function","z":"2bd42787.c57178","name":"","func":"msg.payload = msg.response.document_tone.tones\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1060,"wires":[["fa9e9f96.faf22"]]},{"id":"fa9e9f96.faf22","type":"split","z":"2bd42787.c57178","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":1080,"wires":[["4260b867.d84328"]]},{"id":"ccb2f6fb.3d5d48","type":"delay","z":"2bd42787.c57178","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":840,"wires":[["32ddcaa4.765166"]]},{"id":"32ddcaa4.765166","type":"split","z":"2bd42787.c57178","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":840,"wires":[["cc54c41.dacdb38"]]},{"id":"cfc49927.b20738","type":"debug","z":"2bd42787.c57178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":920,"wires":[]},{"id":"bc044e35.073c3","type":"function","z":"2bd42787.c57178","name":"","func":"if (msg.sentiment.score>0)\n    msg.payload = 'Positive'\nelse if (msg.sentiment.score<0)\n    msg.payload = 'Negative'\nelse\n    msg.payload = 'Neutral'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1140,"wires":[["a193c422.1a6808"]]},{"id":"a193c422.1a6808","type":"ui_text","z":"2bd42787.c57178","group":"b87cc51d.6f4cd8","order":6,"width":0,"height":0,"name":"","label":"Sentiment","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1160,"wires":[]},{"id":"6e95a8ac.5f7cf8","type":"comment","z":"2bd42787.c57178","name":"Visualizations","info":"","x":140,"y":60,"wires":[]},{"id":"39731502.f4565a","type":"ui_template","z":"2bd42787.c57178","group":"50e1a02e.610ba","name":"","order":0,"width":"9","height":"6","format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":300,"wires":[[]]},{"id":"18b17e2d.79ec02","type":"ui_template","z":"2bd42787.c57178","group":"50612626.df4ec8","name":"","order":7,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n\n<h1>Lets get started!</h1>\n\n<p><a href=\"https://node-red-tytop.mybluemix.net/covid19visuals\">Visuals ahead</a></p>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":630,"y":640,"wires":[[]]},{"id":"f70bfeba.057d1","type":"http in","z":"2bd42787.c57178","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":130,"y":680,"wires":[["5b123106.dc377"]]},{"id":"2f020763.d22988","type":"http response","z":"2bd42787.c57178","name":"","statusCode":"","headers":{},"x":410,"y":700,"wires":[]},{"id":"5b123106.dc377","type":"template","z":"2bd42787.c57178","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <body>\n        <div class='tableauPlaceholder' id='viz1594852571128' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;SentimentAnalysis_15943893129800&#47;Another&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='SentimentAnalysis_15943893129800&#47;Another' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;SentimentAnalysis_15943893129800&#47;Another&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1594852571128');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='560px';vizElement.style.maxHeight='860px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.minWidth='420px';vizElement.style.maxWidth='650px';vizElement.style.width='100%';vizElement.style.minHeight='560px';vizElement.style.maxHeight='860px';vizElement.style.height=(divElement.offsetWidth*1.77)+'px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>\n    </body>\n</html>","output":"str","x":270,"y":680,"wires":[["2f020763.d22988"]]},{"id":"779ea265.11239c","type":"ui_group","z":"","name":"Sign up","tab":"fc1cc2a6.9e66e","order":2,"disp":true,"width":"6","collapse":false},{"id":"50e1a02e.610ba","type":"ui_group","z":"","name":"Welcome to Covid19 Visuals","tab":"fc1cc2a6.9e66e","order":1,"disp":true,"width":"9","collapse":false},{"id":"50612626.df4ec8","type":"ui_group","z":"","name":"Already have an Account? Log in here","tab":"ae650a74.66c268","order":1,"disp":true,"width":11,"collapse":false},{"id":"a46e91e.942307","type":"ui_group","z":"","name":"Welcome to Covid19 Visuals","tab":"ae650a74.66c268","order":3,"disp":true,"width":8,"collapse":false},{"id":"b87cc51d.6f4cd8","type":"ui_group","z":"","name":"Welcome!","tab":"401ccd5.f966934","order":1,"disp":true,"width":"12","collapse":false},{"id":"43aa6f9d.91ec4","type":"ui_group","z":"","name":"","tab":"401ccd5.f966934","order":2,"disp":true,"width":10,"collapse":false},{"id":"fc1cc2a6.9e66e","type":"ui_tab","z":"","name":"Create your own account","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ae650a74.66c268","type":"ui_tab","z":"","name":"Log-in to your account","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"401ccd5.f966934","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]